.album-search-suggestion {
  display: flex;
  align-items: center;
  padding: 5px;
}

.album-cover-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.album-info {
  display: flex;
  flex-direction: column;
}

.album-name {
  font-weight: bold;
  font-size: 1.1em;
}

.album-artist {
  color: var(--text-muted);
  font-size: 0.9em;
}

.album-year {
  font-size: 0.8em;
  color: var(--text-faint);
}
